WebSiteMonitoring/appsettings.json
WebSiteMonitoring/credentials.json
WebSiteMonitoring/bin/
WebSiteMonitoring/obj/
.vs/
WebSiteMonitoring/Properties/
WebSiteMonitoring/WebSiteMonitoring20210111203513.PublishSettings
